:root {

    --color1: #A600AC;
    --color2: #8E0093;
    --color3: #76007A;
    --color4: #5E0062;
    --color5: #470049;
    --color6: #2F0031;
    --color7: #170018;
}

*{
    cursor: none;
}

.cursor {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 3px solid var(--color2);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 10000;

  }
  
  .cursor2 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 10000;
  }
/*   
  .hover {
    background-color: var(--color4);
    opacity: 1;
  } */
  
  .cursorinnerhover {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  #blob{
    background: white;
    height: 500px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,
   var(--color3),
    var(--color7));
    animation: rotate 20s infinite;
    filter: blur(150px);
    z-index: -1;
    overflow: hidden;
}

/* #blur{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  backdrop-filter: blur(200px);
} */
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50%{
      scale: 1 1.3;
    }

    to {
      rotate: 720deg;
    }
  }