@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

:root {

    --color1: #A600AC;
    --color2: #8E0093;
    --color3: #76007A;
    --color4: #5E0062;
    --color5: #470049;
    --color6: #2F0031;
    --color7: #170018;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0c0c0c;
    color: #3c3f64;
    overflow-x: hidden;
    padding-bottom: 50px;
    height: 500vh;
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    justify-content: center;
    align-items: center;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #883882;
    color: #883882;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #D78266;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #D78266;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

/* .btn:focus {
    outline: 2px dotted #55d7dc;
} */

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

svg {
    display: inline-block;
    height: 100%;
}

.container {
    position: absolute;
    top: 282%;
    left: 53.5%;
    transform: translate(-50%, -50%);
    height: 4212px;
    text-align: center;
}

section {
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    background-color: #3F1B3C;
    height: 100vh;
}

section:nth-of-type(2n) {
    background-color: #D78266;
}

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.middle {
    grid-area: 2 / 2 / 6 / 5;
}

.top_left {
    grid-area: 1 / 1 / 4 / 2;
}

.top_right {
    grid-area: 1 / 5 / 4 / 6;
}

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
}

a {
    font-weight: 700;
    color: #373B44;
    position: relative;
}

a:hover {
    opacity: 0.8;
}

a:active {
    top: 1px;
}

footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #373B44;
    color: white;
}

footer a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
}

.window {
    display: none;
    /* Hidden by default */
    position: absolute;
    flex-direction: column;
    min-width: 600px;
    min-height: 500px;
    /* border: 5px solid #5e2ae9; */
    box-shadow: 8px 8px 5px #5e2ae9;
    max-width: 100vh;
    max-height: 900px;
    width: 100vh;
    background-color: #7f00ff;
    /* filter: saturate(0.1); */
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.window h1,
.window p,
.window h2,
.window li {
    color: #0c0c0c;
}

.window p {
    font-size: 15px;
}

.window:focus-within {
    /* filter: saturate(1); */
}

.window__title-bar {
    background-color: #6d46c0;
    color: white;
    padding: 13px var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 1;
    box-shadow: 0px 5px 6px -2px rgba(187, 153, 255, 0.368627451);
}

.window__body {
    flex-grow: 1;
    background-color: whitesmoke;
    padding: var(--default-padding);
    overflow-y: auto;
    scrollbar-color: #4d21c3 #dfd4fd;
    scrollbar-width: thin;
    padding: 40px;
    padding-top: 10px;
}

.window__body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #dfd4fd;
}

.window__body::-webkit-scrollbar-thumb {
    background: #6d46c0;
}

.window__btn {
    cursor: pointer;
    background-color: #4f348a;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    opacity: 0.8;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ae63e4;
}

.window__btn:hover {
    opacity: 1;
}

.window__btn span {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

.window__btn+.window__btn {
    margin-left: 6px;
}

.window__title {
    line-height: 1;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 20px;
}

pre {
    font-family: monospace;
    background-color: #8c5afb;
    color: white;
    padding: 10px;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
}

.window__status-bar {
    padding: 3px var(--default-padding);
    font-size: 0.75rem;
    color: #ecd4ff;
}

::-moz-selection {
    color: white;
    background: hotpink;
}

::selection {
    color: white;
    background: hotpink;
}

.overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.401);
    filter: blur(150px);
}

.modal_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "picture picture picture text text"
        "picture picture picture text text"
        "picture picture picture text text";
}

.picture {
    grid-area: picture;
}

.text {
    grid-area: text;
}

/* Learning outcomes */

.card {
    display: grid;
    border: solid #D78266;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-text {
    font-family: "Montserrat", sans-serif;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

/* Intor images s*/
.tree_img,
.jumping_img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree_img {
    width: 1000px;
    opacity: 0;
}

.jumping_img {
    width: 900px;
    opacity: 0.2;
}

/* Empathize */
.empathize {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left title content-right content-right"
        "content-left content-left . content-right content-right";
}

.empathize .title {
    grid-area: title;
    text-align: center;
    z-index: 99;
}

.empathize .content-left {
    grid-area: content-left;
    margin: auto;
}

.empathize .content-right {
    grid-area: content-right;
    margin: auto;
}

.empathize button {
    position: relative;
    padding: 5px 17px 5px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.empathize button .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: var(--color3);
    z-index: -1;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
}

.empathize button:hover .btn-background {
    left: 0;
}

.empathize button:focus {
    outline: none;
}

.empathize button svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff;
}

.undertext {
    text-align: center;
}

#persona,
#user-story1,
#user-story2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#persona:hover {
    opacity: 0.7;
}

/* Define */
.define {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left title content-right content-right"
        "content-left content-left . content-right content-right";
}

.define-title {
    grid-area: title;
    text-align: center;
    z-index: 99;
}

.define-content-left {
    grid-area: content-left;
    margin: auto;
}

.define-content-right {
    grid-area: content-right;
    margin: auto;
}

#focus-points {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#focus-points:hover {
    opacity: 0.7;
}

/* Ideate */

.ideate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left title content-right content-right"
        "content-left content-left . content-right content-right";
}

.ideate .title {
    grid-area: title;
    text-align: center;
    z-index: 99;
}

.ideate .content-left {
    grid-area: content-left;
    margin: auto;
}

.ideate .content-right {
    grid-area: content-right;
    margin: auto;
}

#flow-chart {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#flow-chart:hover {
    opacity: 0.7;
}

/* Prototype */

.prototype {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left . content-right content-right"
        "content-left content-left title content-right content-right"
        "content-left content-left . content-right content-right";
}

.prototype .title {
    grid-area: title;
    text-align: center;
    z-index: 99;
}

.prototype .content-left {
    grid-area: content-left;
    margin: auto;
}

.prototype .content-right {
    grid-area: content-right;
    margin: auto;
}
.sketches img {
    display: inline-block;
    width: 50%;
    max-width: 500px;
}

  #sketches1, #sketches2 {
    display: inline-block;
    width: 50%;
    height: 300px;
    padding: 10px;
  }

#sketches1, #sketches2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#sketches1:hover, #sketches2:hover {
    opacity: 0.7;
}



/* The Image Modal (background) */
.image-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    z-index: 100;
}

/* Modal Content (image) */
.image-modal-content {
    margin: auto;
    display: block;
    width: 50%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.image-modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.image-out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1)
    }

    to {
        -webkit-transform: scale(2)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

/* The Close Button */
.image-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.image-close:hover,
.image-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .image-modal-content {
        width: 100%;
    }
}


.kitty{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}